html, *, body {
  padding: 0;
  margin: 0;
  box-sizing:inherit;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
  

}
 main{
  justify-content: space-evenly;
  width:100%;
  
  
 }
a {
  text-decoration: none;
}

.carousel-innner,
.carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 70vh;
  overflow: hidden;

}

.title {
  align-items: center;
  text-align: center;
  margin-top: 5%;
  font-size: 700%;
  overflow-y: hidden;
}
/* About Section */
.about-img {
  min-width: 10%;
  height: 30%;
  border: 1px solid rgb(206, 201, 201);
  opacity: 0.9;
  border-radius: 1%;
}

.about-container {
  padding-bottom: 1rem;
  align-content: center;
}

.about-article {
  display: flex;
  padding: 5rem;
}

p.para {
  padding-left: 4rem;
  padding-right: 3rem;
  font-size: large;
  margin-bottom: 0%;
  display: block;
}

#portfolio{
    width:100vw;
}
.project-summary{
  text-align: center;
  font-size: large;


}
.portfolio-container{
    align-items: center; 
    
    
}
.projects{
display:grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows:auto;
margin: 5%;

}
.each-project{
    margin: 2%;
   
}


.cards{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:auto;
  margin: 5%;
 width: 100vw;
 margin-top: 10%;
 margin-bottom: 10%;

}
.each-skill{
  margin-bottom: 2%;
  margin-top: 2%;
  background-color: #9b3636;
  color: #e2c6c6;
  width:  58%;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;


}
.card{
    border: solid rgb(189, 181, 181) 1px;
    
}
.one {
  width: 100%;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.8s ease-in-out;
}

.two {
  width: 30%;
  opacity: 0;
  transform: translateY(30px);
  transition: 2s ease-in-out;
}

.three {
  width: 100%;
  opacity: 0;
  transform: translateY(0px);
  transition: 2s ease-in;
}
.view-appear {
  opacity: 1;
  transform: translateY(0px);
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
#color {
  transform: translate(-10%, -10%);
  max-width: 100%;
}

svg {
  padding: 0;
  margin: 0;
  overflow: visible;
  transform: translate(-10%, -10%);
  animation: 0.5s pulse-animation linear infinite;
}
@keyframes pulse-animation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  25% {
    opacity: 0.8;
    transform: scale(1.5);
  }
  50% {
    opacity: 0.4;
    transform: scale(1.7);
  }
  75% {
    opacity: 0.2;
    transform: scale(2);
  }
  100% {
    opacity: 0;
    transform: scale(2.4);
  }
}

.signature {
  padding-top: 1%;
  overflow-y: hidden;
}
