*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



a{
   text-decoration: none;
}

.carousel-innner, .carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 70vh;
    overflow: hidden;
} 

.title{
    align-items: center;
    text-align: center;
    margin: 2%;
}

#about{
padding: 1rem;
}
.about-img{
    min-width: 30%;
    height:50%
}

.about-container{
padding:2rem;
}


.about-article{
display:flex;
max-width: 90%;
padding:5rem;
}

p.para{
   padding: 2rem
}




.one {
    width:100%;
    opacity: 0;
    transform: translateY(30px);
    transition: .8s ease-in-out;
}

.two {
    width:30%;
    opacity: 0;
    transform: translateY(30px);
    transition: 2s ease-in-out;
}

.three{
    width:100%;
    opacity: 0;
    transform: translateY(-30px);
    transition: 1.8s ease-in-out;
}
.view-appear{
opacity: 1;
transform: translateY(0px)
}









#contact{
display:flex;
flex-direction: column;
align-items: center;
padding: 10%;

}
#color{
    transform: translate(-10%, -10%);
    max-width: 100%;
}

svg{
    padding: 0;
    margin:0;
    overflow: visible;
    transform: translate(-10%, -10%);
    animation: 5s pulse-animation linear infinite
    
}
@keyframes pulse-animation {
    0%{
        opacity: 0.8;
        transform: scale(1)
    }
    25%{
        opacity: 0.6;
        transform: scale(1.4)
    }
    50%{
        opacity: 0.4;
        transform: scale(1.8)
    }
    75%{
        opacity: 0.2;
        transform: scale(2.4)
    }
    100%{
        opacity: 0;
        transform: scale(2.6)
    }
    
}


.signature{
padding-top: 2%;
}